* {
    margin: 0;
    padding: 0;
    font-family: "Ysabeau SC", sans-serif;
    box-sizing: border-box;  
}

body {
    background-color: gray;
    background-attachment: fixed;
}

.wrapper {
    background-color: white;
    padding-right: 20px; 
    padding-left: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1160px;
    background-size: cover;
    position: relative;
    min-height: 100vh;
}

header {
    padding: 1rem;
}

h1 {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    list-style: none; 
}

nav a {
    text-decoration: none;
    color: #111;
    font-size: 18px;
    font-weight: bold;
}

.info {
    display: flex;
    justify-content: space-around;
    padding: 0 1rem 0 1rem;
}

.portrait {
    height: 420px;
    width: 280px;
}

.text {
    padding-left: 2rem;
}

.text p {
    margin-bottom: 1rem;
}

#Contact {
    display: flex;
    justify-content: center;
    margin: 1rem 0 1rem;
}

#Contact h2,
#Contact p {
    text-align: center;
}

.picture-wrap {
    display: flex;
    justify-content: center;
}

.picture {
    height: 150px;
    width: 150px;
}

@media (max-width: 768px) {
    .wrapper {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .info {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }

    .portrait-wrap {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .text {
        padding-left: 0;
        padding-right: 0;
    }
}
